<h1>Results for <%= @zip %></h1>
<h2>16 Total Stores</h2>

<div class="container">
  <div class="row">
    <% @stores.each do |store| %>
    <div class="col-sm-3">
      <h3>Store Name: <%= store["longName"] %></h3>
      <p>City: <%= store["city"] %></p>
      <p>Distance: <%= store["distance"] %></p>
      <p>Phone: <%= store["phone"] %></p>
      <p>Store Type: <%= store["storeType"] %></p></br>
    </div>
  <% end %>
  </div>
</div>